*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
::selection{
    background-color: #b5e550;
}
:root{
    --main-color:#65B741;
    --secondary-color:#2C3333;
    --hover-color:#4caa24;
    --another-color:#FFB534;
}
.main {
    height: 100vh;
    overflow: hidden;
}
.header{
    width: 100%;
    background: white;
    display: flex;
    position: fixed;
}

.logo img{
    width: 150px;
    margin-left: 100px ;
    cursor: pointer;
}

.nav{
    margin-left: 400px;
    display: flex;
    flex-direction: row;
}
.nav a{
    width: 130px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding: 20px;
    font-size: 15px;
    transition: 0.3s;
}
.nav a:hover{
    background:var(--hover-color);
}

.container{
  background: var(--secondary-color);
  width: 100%;
  height: 500px;
  margin: auto;
  display: flex;
}
.container .txt{
    margin: 150px 0 0 100px;
}
.container h1{
    font-size: 3rem;
    color: var(--another-color);
}
.container p{
    margin:20px 50px;
    font-size: 17px;
    color: white    ;
}
.container img{
    width: 270px;
    margin: 70px 0 0 200px;
}
.box {
    background: var(--main-color);
    width: 200px;
}
.nav2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -130px;
}
.nav2 .box {
    cursor: pointer;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
}
.nav2 .box:hover{
    transform: scale(.9);
}
.nav2 .box p {
    font-weight: 600;
    color: white;
}
.nav2 .box i {
    font-size: 25px;
    color: var(--another-color);
}



  @media only screen and (max-width: 600px){
    .logo img{
        margin-left: 10px;
        width: 50px;
    }
    .nav {
        margin-left: 50px;
    }
    .nav a{
        padding: 5px;
        width: 50px;
        font-size: 8px;
    }
    .container{
        height: 100vh;
    }
    .container .txt{
        margin: 15% 0 0 40px;
    }
    .container .txt h1{
        font-size: 20px;
    }
    .container .txt p{
        width:200px;
        font-size: 12px;
    }
    .container img{
        width: 220px;
        margin-top: 50%px;
        position: relative;
        right: 420px;
        top: 50px;
    }
    .nav2{
        display: flex;
        flex-wrap: wrap;
        transform: translateY(-200px);
    }   
   .nav2 .box{
    width: 150px;
    height: 100px;
   }
}
@media only screen and (min-width: 601px) and (max-width: 1024px){
    .logo img{
        margin-left: 15px;
        width: 120px;
    }
    .nav {
        margin-left: 90px;
    }
    .nav a{
        padding: 10px;
        width: 100px;
        font-size: 15px;
    }
    .container .txt{
        margin: 10% 0 0 5%;
    }
    .container .txt p{
        width: 310px;
    }
    .container img{
        margin-left: 0px;
    }
}